@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
 }

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

.button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.section-title h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-title p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* навигация */

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

}

.navigation-list-item {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
 }

.navigation-link {
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  background-color: #756157;
  display: block;
  margin-right: 70px;
}

/* hero */
.hero-section {
  background-image: url("../images/main/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #aadbe2;
  width: 1200px;
  height: 485px;
  padding-top: 51px;
  text-align: center;
}

/* advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-list-item {
  width: 400px;
}

.advantages-img {
  display: block;
}

.advantages-list h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.advantages-list p {
  text-align: center;
}

.advantages-list-item .dark-tile {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-list-item .light-tile {
  background-color: #82b3d31f;
}

.advantages-list-item .medium-tile {
  background-color: #82b3d333;
}

/* reasons */

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.reasons-list-item .light-tile {
  background-color: #83b3d31f;
}

/* search */
.search-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  padding: 8px 50px;
  display: inline-block;
}

/* subscribe */
.main-subscribe {
  background-image: url("../images/main/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #999387;
}

.subscribe-form {
  display: flex;
}

.subscribe-email {
  line-height: 24px;
  background-color: #ffffff;
  padding: 14px 20px;
  width: 452px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  padding: 8px 50px;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  list-style: none;
  gap: 20px;
  width: 142px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.academy-logo {
  color: #000000;
}
