@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.section-title h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-title p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* навигация */

.main-navigation {
  display: flex;
  min-height: 64px;
  padding: 0 70px;
  gap: 28px;
}

.main-navigation-logo {
  margin-bottom: -6px;
  z-index: 1;
}

.sedona-logo  {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-list-item {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 21px 16px;
  font-family: inherit;
  text-align: center;
  color: #000000;
  text-decoration: none;
  /* max-width: */
}

.current-link::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -1px;
  height: 2px;
  background-color: #756157;
}

.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 268px;
  margin-left: auto;
}

.navigation-link-favorite .navigation-link,
.navigation-link-search .navigation-link {
  width: 44px;
  height: 64px;
}

.navigation-link-search {
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-favorite {
  background-image: url("../images/header/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-button {
  display: block;
  padding: 8px 34px;
  background-color: #756157;
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 14px;
  color: #ffffff;
}

/* hero */
.hero {
  background-image: url(../images/main/divider.svg), url("../images/main/index-background.jpg");
  background-size: 1200px auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  background-color: #70a2aa;
  min-height: 485px;
}

.welcome-text {
  padding: 51px 371px;
}

/* advantages */

.advantages-title {
  padding: 69px 70px;
  margin-bottom: 21px;
}

.advantages-title h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-title p {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.advantages-list-item {
  flex-grow: 1;
  width: 400px;
}

.dark-tile {
  display: flex;
  min-width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}

.dark-tile .advantages-text {
  width: 400px;
}

.advantages-img {
  display: block;
  object-fit: cover;
  height: 100%;
}

.advantages-text {
 display: flex;
 flex-direction: column;
 position: relative;
 padding: 112px 85px;
 gap: 62px;
}

.advantages-text h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages-text p {
  margin: 0;
  text-align: center;
}

.light-tile {
  background-color: #82b3d31f;
}

.grey-tile {
  background-color: #82b3d333;
}

/* разделитель */

.advantages-text h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 2px;
  margin-top: 30px;
  margin-left: 85px;
  background-color: rgba(255, 255, 255, 0.3);
}

.light-tile .advantages-text h3::after,
.grey-tile .advantages-text h3::after {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}

/* reasons */

.reasons-title {
  padding: 64px 70px;
}

.reasons-title h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.reasons-title p {
  margin: 0;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.reasons-list-item {
  width: 400px;
  min-height: 385px;
}

.light-blue-tile {
  background-color: #83b3d31f;
}

.reasons-text {
  display: flex;
  flex-direction: column;
  padding: 81px 85px;
}

.reasons-text h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-text p {
  margin: 0;
}

.reasons-text h3::before {
  content: "";
  display: block;
  width: 76px;
  height: 76px;
  margin: 0 auto 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.reason-hotel h3::before {
  background-image: url(../images/main/hotel.svg);
}

.reason-food h3::before {
  background-image: url(../images/main/food.svg);
}

.reason-souvenir h3::before {
  background-image: url(../images/main/souvenir.svg);
}

/* search */

.search-title {
  padding: 96px 70px 54px;
}

.search-title h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.search-title p {
  margin: 0;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  padding: 8px 50px;
  margin: 0 412px 96px;
  display: block;
}

/* subscribe */
.main-subscribe {
  background-image: url("../images/main/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #70a2aa;
}

.subscribe-title {
  padding: 96px 70px 0;
}

.subscribe-title h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-title p {
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  margin: 0 258px;
  padding-bottom: 104px;
}

.subscribe-email {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-size: 18px;
  background-color: #f2f2f2;
  padding: 14px 20px;
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

/* footer */
.footer {
  display: flex;
  padding: 40px 70px 30px;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 41px;
  padding: 0;
  list-style: none;
}

.social-item-link {
  display: block;
  width: 47px;
  height: 40px;
}

.social-vk {
  background-image: url("../images/footer/socials/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-tg {
  background-image: url("../images/footer/socials/tg.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-yt {
  background-image: url(../images/footer/socials/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  max-width: 500px;
  padding: 5px 195px;
  align-self: center;
}

.academy-logo-link{
  display: block;
  margin-left: 41px;
}


/* catalog */
.catalog-main-filter {
  background-image: url("../images/catalog-filter/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #6b7577;
  padding: 35px 70px 70px;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 40px;
}

/* фильтры */
.main-filter-form {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.main-filter-form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.radiobuttons-list,
.checkbox-list,
.buttons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkbox,
.radiobuttons {
  font-size: 18px;
  line-height: 23px;
}

.checkbox-list-item:not(:last-child),
.radiobuttons-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 32px;
}

.apply-button {
  background-color: #82b3d3;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.reset-button {
  background: none;
  padding: 8px 57px;
}

/* сортировка результатов */

.hotel-catalog {
  padding: 6px 0;
}

.found-hotels-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.found-hotels {
  max-width: 395px;
  margin: 0;
}

.sorting-list {
  font-family: inherit;
  font-size: inherit;
  background-color: #ffffff;
  color: #333333;
  height: 49px;
  width: 292px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.catalog-view-bar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

/* карточки гостиниц */

.hotel-catalog {
  padding: 0 70px 60px;
}

.hotel-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style: none;
}

.hotel-cards-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto 1fr;
  padding: 20px 19px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  gap: 16px 20px;
}

.hotel-image {
  display: block;
}

.hotel-link {
  text-decoration: none;
  color: #000000;
  grid-column: 1/3;
  grid-row: 2/-1;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.hotel-type {
  grid-column: 1/2;
}

.hotel-price {
  grid-column: 2/3;
  justify-self: end;
}

.hotel-more-link {
  grid-column: 1/2;
  display: block;
  background-color: #756157;
  padding: 8px 26px;
}

.hotel-favorite-button {
  grid-column: 2/3;
  background-color: #82b3d3;
  padding: 8px 20px;
  width: 140px;
}

.button-selected {
  background-color: #7db54f;
  padding: 8px 18px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  text-transform: uppercase;
  border-radius: 4px;
}

/* пагинация */

.pagination-container {
  display: flex;
  margin: 0;
  margin-top: 80px;
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 12px 18px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.pagination-link-active {
  background-color: #f2f2f2;
  color: #000000;
  padding: 12px 24px;
}

.pagination-link-more {
  background-color: transparent;
  color: #000000;
  padding: 12px 18px;
  min-width: 60px;
  height: 60px;
}

.subscribe-no-background {
  background-color: #ffffff;
  margin: 0;
}

.subscribe-no-background .subscribe-email {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  padding: 14px 20px;
  width: 452px;
}
