@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

.button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.section-title h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-title p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* навигация */

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

}

.navigation-list-item {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  background-color: #756157;
  display: block;
  margin-right: 70px;
}

/* hero */
.hero-section {
  background-image: url("../images/main/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #aadbe2;
  width: 1200px;
  height: 485px;
  padding-top: 51px;
  text-align: center;
}

/* advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-img {
  display: block;
}

.advantages-text h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text p {
  text-align: center;
}

.dark-tile {
  background-color: #82b3d3;
  color: #ffffff;
  width: 1200px;
}

.light-tile {
  background-color: #82b3d31f;
  width: 400px;
  text-align: center;
}

.medium-tile {
  background-color: #82b3d333;
  width: 400px;
  text-align: center;
}

/* reasons */

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.reasons h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-list-item .light-tile {
  background-color: #83b3d31f;
  width: 400px;
}

/* search */
.search-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  padding: 8px 50px;
  display: inline-block;
}

/* subscribe */
.main-subscribe {
  background-image: url("../images/main/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #aadbe2;
}

.subscribe-form {
  display: flex;
}

.subscribe-email {
  line-height: 24px;
  background-color: #ffffff;
  padding: 14px 20px;
  width: 452px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  padding: 8px 50px;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  list-style: none;
  gap: 20px;
  width: 142px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.academy-logo {
  color: #000000;
}


/* catalog */
.catalog-main-filter {
  background-image: url("../images/catalog-filter/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #6b7577;
  padding: 35px 70px 70px;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

/* фильтры */
.main-filter-form {
  display: flex;
  justify-content: space-between;
}

.main-filter-form fieldset {
  border: 0;
}

.radiobuttons-list,
.checkbox-list,
.buttons-list {
  list-style: none;
}

.checkbox,
.radiobuttons {
  font-size: 18px;
  line-height: 23px;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.apply-button {
  background-color: #82b3d3;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.reset-button {
  background: none;
  padding: 8px 57px;
}

/* сортировка результатов */
.catalog-main-results {
  padding: 50px 70px 60px;
}

.found-hotels {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

.sorting-list {
  font-family: inherit;
  font-size: inherit;
  background-color: #ffffff;
  color: #333333;
  width: 292px;
  height: 49px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

/* карточки гостиниц */
.hotel-cards-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.hotel-cards-item {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  margin: 0;
}

.hotel-link {
  text-decoration: none;
  color: #000000;
}

.hotel-price,
.hotel-buttons,
.hotel-rating {
  display: flex;
  justify-content: space-between;
}

.hotel-more-link {
  display: inline-block;
  background-color: #756157;
  padding: 8px 26px;
}

.favorite-button {
  display: inline-block;
  background-color: #82b3d3;
  padding: 8px 20px;
  width: 140px;
}

.button-pressed {
  background-color: #7db54f;
  padding: 8px 18px;
}

.rating {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #f2f2f2;
  display: inline-block;
  padding: 9px 22px 8px 23px;
  text-transform: uppercase;
  border-radius: 4px;
}

/* пагинация */
.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.pagination-list-item {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  padding: 12px 18px;
  min-width: 60px;
  height: 60px;
}

.pagination-link-active {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-more {
  background: none;
  color: #000000;
}

/* подписка без фона */
.subscribe-no-background {
  background-color: #ffffff;
}
